<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <script src="https://kit.fontawesome.com/657e1de652.js" crossorigin="anonymous"></script>
    <title> Login </title>
</head>

<body id="body_mercado_liebre">

    <!--------------------- HEADER LOGIN --------------------->


    
    <!--------------------- MAIN LOGIN --------------------->

    <form action="/login" method="POST">
        
        <div class="container">

          <h1>Iniciar sesión</h1>
          <hr>

            <p>
                <label for="nombre_de_usuario"><b> </b></label>
                <input type="text" placeholder="Nombre de usuari@" name="nombre_de_usuario" id="nombre_de_usuario" required>
            </p>

            <p>
                <label for="psw"> </label>
                <input type="password" placeholder="Contraseña..." name="psw" id="psw" required>
            </p>
        
            <button type="submit" class="registerbtn" id="btn_submit_login"> Login </button>
        
        </div>
      
        <div class="container_sign_in">

            <p>
                ¿Olvidaste tu contraseña? 
                <a href="#"> Ingresá acá para recuperarla </a>
            </p>

        </div>

    </form>

    <!--------------------- FOOTER LOGIN --------------------->

</body>

</html>