<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <script src="https://kit.fontawesome.com/657e1de652.js" crossorigin="anonymous"></script>
    <title> Login </title>
</head>

<body id="body_mercado_liebre">

    <!--------------------- HEADER LOGIN --------------------->

        <header id="header">
        
            <!--------------------- HEADER - SECTION 1 --------------------->   
    
            <section id="sec_1_header"> 
            
            <article id="LogoML">
                <img src="/img/logo-mercado-liebre.svg" alt="Contenido no disponible">
            </article>
    
            <article id="search_bar">
                <form class="example" action="action_page.php" id="barra_de_busq">
                    <input type="text" placeholder="Buscar productos, marcas y más" name="search" id="barra_de_busqueda">
                    <button type="submit"><i class="fa fa-search" id="lupita"></i></button>
                </form>
            </article>
           
            <article id="compra_en_cuotas">
                <i class="fa-solid fa-hand-holding-dollar" id="icono_compra_en_cuotas"></i>
                <p id="p1Header"> Comprá en cuotas y sin tarjeta de crédito </p>
            </article>
    
            </section>
    
            <!--------------------- HEADER - SECTION 2 --------------------->
            <section id="sec_2_header">
    
                <nav id="sec_2_Header"> 
                    
                    <div id="menu_hamburguesa">
                    <input type="checkbox" id="menu">
                    <label for="menu" id="hamburguesita"> ☰ </label>
                    </div>
    
                    <div id="navBar">
                    <ul type="none" class="listas_de_navegacion">
                        <li class="item_barra_header"> <a href= "#"> Tiendas oficiales </a> </li>
                        <li class="item_barra_header"> <a href= "#"> Ofertas </a> </li>
                        <li class="item_barra_header"> <a href= "#"> Vender </a> </li>
                        <li class="item_barra_header"> <a href= "#"> Ayuda </a> </li>
                    </ul>
                    </div>
    
                    <div id="loginBar">
                    <ul type="none" class="listas_de_navegacion">
                        <li class="item_barra_header"> <a href= "/views/register.html" target="_blank"> Creá tu cuenta </a> <i class="fa-solid fa-address-card"></i> </li>
                        <li class="item_barra_header"> <a href= "/views/login.html" target="_blank"> Ingresá </a> <i class="fa-solid fa-right-to-bracket"></i> </li>
                        <li class="item_barra_header"> <a href= "#" target="_blank"> Mis compras </a> <i class="fa-sharp fa-solid fa-basket-shopping"></i> </li>
                    </ul>
                    </div>
    
                </nav>
    
            </section>
    
        </header>
    
    <!--------------------- MAIN LOGIN --------------------->

    <form action="/login" method="POST">
        
        <div class="container">

          <h1>Iniciar sesión</h1>
          <hr>

            <p>
                <label for="nombre_de_usuario"><b> </b></label>
                <input type="text" placeholder="Nombre de usuari@" name="nombre_de_usuario" id="nombre_de_usuario" required>
            </p>

            <p>
                <label for="psw"> </label>
                <input type="password" placeholder="Contraseña..." name="psw" id="psw" required>
            </p>
        
            <button type="submit" class="registerbtn" id="btn_submit_login"> Login </button>
        
        </div>
      
        <div class="container_sign_in">

            <p>
                ¿Olvidaste tu contraseña? 
                <a href="#"> Ingresá acá para recuperarla </a>
            </p>

        </div>

    </form>

    <!--------------------- FOOTER LOGIN --------------------->
    <footer id="footer">

    <section id="section_1_footer">

        <article class="footerArticle">

                <i class="fa-solid fa-credit-card iconos_footer"></i>
                <p class="titulosFooter"> Pagá con tarjeta o efectivo </p>
                <p class="txtFooter"> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro! </p>
        
        </article>

        <article class="footerArticle">

                <i class="fa-solid fa-gift iconos_footer"></i>
                <p class="titulosFooter"> Envío gratis desde $ 2.500 </p>
                <p class="txtFooter"> Sólo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos. </p>
        
        </article>

        <article class="footerArticle">

                <i class="fa-solid fa-user-shield iconos_footer"></i> 
                <p class="titulosFooter"> Seguridad, de principio a fin </p>
                <p class="txtFooter"> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@. </p>

        </article>
   
    </section>

    <section id="section_2_footer">

        <article>

            <p id="copyrightFooter"> Copyright © 1999-2020 MercadoLiebre S.R.L. </p>

        </article>

    </section> 

    </footer>

</body>

</html>